.expedition-team {
  text-align: center;

  .expedition-team-profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;

    &:hover {
      border: 4px solid $primary_red;
    }
  }
}

.stats-list-item {
  span {
    display: block;
  }
}