a.get-involved-cta-button {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px;
  margin: 50px auto 10px;
  padding: 15px 0;
  background: transparent;
  color: $white;
  font-size: 2.5em;
  font-weight: 700;
  font-family: 'Arvo', Helvetica Neue, Helvetica, Arial;
  width: 10em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  height: auto;
  line-height: 1.3;
  border: 8px solid $white;
  opacity: 0;
  animation: slideUp .5s ease 1s 1 forwards;

  &.red {
    color: $primary_red;
    border-color: $primary_red;
  }

  @include respond-to(phone) {font-size: 2em; padding: 5px 0;}
  @include respond-to(smalltablet) {font-size: 2em; padding: 5px 0;}
  @include respond-to(largetablet) {font-size: 2em; padding: 5px 0;}

  &:visited, &:focus, &:active {
    text-decoration: none;
  }

  &:hover {
    //color: $primary_red;
    background: rgba(255,255,255,.4);
  }
}

.w-slide .slide-text {
  transition: .5s;
  opacity: 0;
  animation: slideDown .5s ease 1s 1 forwards;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 40px;
}

.w-slide .home-slider-img {
  min-width: 100%;
  min-height: 300px;
  @include respond-to(phone) { max-width: none; max-height: 400px;}
  @include respond-to(smalltablet) { max-width: none; max-height: 400px;}
}

@keyframes slideDown {
  0% {opacity: 0; transform: translate3d(0,-200px,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}

@keyframes slideUp {
  0% {opacity: 0; transform: translate3d(-50%,250px,0);}
  100% {opacity: 1; transform: translate3d(-50%,0,0);}
}

.hero-slideshow {
  .slick-arrow {
    max-height: 40px;
    max-width: 40px;
    display: inline-block;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    z-index: 99999;

    @include respond-to(phone) {display: none;}

    path {
      fill: $primary_red;
    }

    &.slick-prev {
      left: 40px;
      @include respond-to(phone) {left: 10px;}
      @include respond-to(smalltablet) {left: 10px;}
      @include respond-to(largetablet) {left: 10px;}
    }

    &.slick-next {
      right: 40px;
      @include respond-to(phone) {right: 10px;}
      @include respond-to(smalltablet) {right: 10px;}
      @include respond-to(largetablet) {right: 10px;}
    }
  }

  .slick-slide {
    img {
      width: 90%;
      max-width: 200px;
      margin: 0 auto;
      display: block;
    }
  }

  .slick-dots {
    list-style-type: none;
    padding: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;

    li {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      font-size: 0;
      color: transparent;
      background: $mid_grey;
      margin: 10px;

      button {
        display: none;
      }

      &.slick-active {
        background: $primary_red;
      }
    }
  }
}