.nav-container.main-nav-box {
  @include respond-to(phone) {width: 95%;}
  @include respond-to(smalltablet) {width: 95%;}
  @include respond-to(largetablet) {width: 95%;}



  .w-nav-button {
    @include respond-to(phone) {padding-left: 0; padding-right: 0; width: 100%;}
    @include respond-to(smalltablet) {padding-left: 0; padding-right: 0; width: 100%;}
    @include respond-to(largetablet) {padding-left: 0; padding-right: 0; width: 100%;}
  }

  .w-nav-button.w--open {
    @include respond-to(phone) {background: $primary_dark;}
    @include respond-to(smalltablet) {background: $primary_dark;}
    @include respond-to(largetablet) {background: $primary_dark;}
  }

  .logo-navbar-image {
    @include respond-to(phone) {width: 60%;}
    @include respond-to(smalltablet) {width: 60%;}
    @include respond-to(largetablet) {width: 30%;}
  }

  .w-icon-nav-menu {
    @include respond-to(phone) {display: inline-block; float: right;}
    @include respond-to(smalltablet) {display: inline-block; float: right; font-size: 2em;}
    @include respond-to(largetablet) {display: inline-block; float: right; font-size: 2em; line-height: 34px;}
  }
}

.w-section.logo-banner {
  @include respond-to(phone) {display: none;}
  @include respond-to(smalltablet) {display: none;}
  @include respond-to(largetablet) {display: none;}
}

nav.w--nav-menu-open {
  background: $primary_dark;
}

.w-nav-link.nav-link {
  @include respond-to(phone) {display: block;}
  @include respond-to(smalltablet) {display: block;}
  @include respond-to(largetablet) {display: block;}
}

.logo-banner-image {
  transition: .5s;
}

.logo-banner-image:hover {
  animation: flipOut 1s linear ;
}

.w-dropdown-list .sublink {
  font-size: 70%;
}

.nav-section {

  .w-dropdown:hover {
    .w-dropdown-list {
      display: block;
      height: 100%;
    }
  }
}




@keyframes flipOut {
  0% {transform: translate3d(0,0,0);}
  13% {transform: translate3d(5px,0,0);}
  26% {transform: translate3d(-5px,0,0);}
  39% {transform: translate3d(10px,0,0);}
  52% {transform: translate3d(-10px,0,0);}
  65% {transform: translate3d(5px,0,0);}
  78% {transform: translate3d(-5px,0,0);}
  100% {transform: translate3d(0,0,0);}
}