.team-member-card {
  width: 33%;
  padding: 20px;
  display: inline-block;
  vertical-align: top;

  @include respond-to(phone) {width: 100%;}
  @include respond-to(smalltablet) {width: 100%;}
  @include respond-to(largetablet) {width: 49%;}

  .profile-pic {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    max-width: 100%;
  }

  .member-name, .member-title {
    text-align: center;
  }

  .member-title {
    font-family: 'Ubuntu', Helvetica Neue, Helvetica, Arial;
    color: $primary_dark;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: -10px;
  }
}