@import "variables/colours";
$navbar-inverse-bg: $primary_dark;
$navbar-inverse-color: $primary_red;
$navbar-inverse-link-active-color: $primary_red;
$navbar-inverse-link-color: $primary_light;
$navbar-border-radius: 0;
$font-family-sans-serif: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "admin/vendor/sweetalert";
@import "admin/partials/navbar";
@import "admin/partials/buttons";
@import "admin/partials/forms";
@import "admin/partials/pageheaders";
@import "admin/partials/editabledisplay";
@import "admin/partials/expeditioncard";
@import "admin/partials/galleryupload";
@import "admin/partials/singleuploader";
@import "admin/partials/sponsorcharitycards";
@import "admin/partials/usercards";
@import "admin/partials/setsyncselect";
@import "admin/partials/profileexpeditionstats";
@import "admin/partials/articleindexcard";
@import "admin/partials/login";
@import "admin/partials/teammates";
@import "admin/partials/galleryorder";
