.blog-listing {

  .article-index-card {
    width: 80%;
    margin: 20px auto;
    padding: 10px 20px;
    border: 1px solid $pale_green;

    .article.index-card-name {
      color: $primary_blue;
    }

    .article-actions {
      .publish-btn.published {
        background: $pale_green;
      }
      .publish-btn {
        background: $white;
        color: $primary_blue;
        border: 1px solid $primary_blue;
      }
    }
  }
}