.location-box {
  padding: 0;
  margin: 1em;
  border: 1px solid $primary_blue;

  header {
    background: $primary_blue;
    color: $primary_dark;
    text-transform: uppercase;
    padding: 6px 1.5em;
  }

  .location-box-body {
    padding: 10px;
    border-bottom: 1px solid $primary_blue;
  }

  footer {
    padding: 10px;
  }
}