.expedition-profile-stats-area {

  .stat-label {
    text-transform: uppercase;
    color: $primary_red;
    display: block;
  }
}

.profile-social-links {

  .profile-social-icon-container {
    display: inline-block;
    margin: 10px;
  }
}